body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: center;
}

.new-canvas {
  border: none;
  border-radius: 8px;
  background-color: rgb(56, 116, 207);
  color: white;
  font-size: 16px;
  font-weight: 800;
  padding: 8px 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  justify-content: center;
}

.canvas {
  border: 2px solid black;
  width: 480px;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
}

.cell-hovered {
  background-color: black;
}