body {
  display: flex;
  justify-content: center;
}

.canvas {
  width: 480px;
  height: 480px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
}

.cell-hovered {
  background-color: black;
}